.rightbar {
    flex: 3.5;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;

}

.rignhtbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;

}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarfriendList {
    padding: 0;
    margin: 0;
    list-style: none;

}

